.main {
  padding: 50px;
  background: url('img/parchment.png') no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 684px;
}

.main-tabs {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
}

.search {
  float: right;
}

.banner {
  background: url('img/Default_Profile_Banner.png') no-repeat;
  background-size: 100%;
  height: 140px;
}

.banner h1 {
  display: inline-block;
  color: white;
}


.champion-container {
  display: inline-block;
  width: 172px;
}

.champion-container .summoner-spells{
  width: 50px;
  height: 50px;
}

.champion-container .champion {
  float: left;
}

.row {
  width: 1340px;
}

.game-mode {
  display: inline-block;
  width: 150px;
  vertical-align: top;
}
